/*Responsive styles*/

@media (max-width: 1199px){
	/*menu*/
	.menu .nav > li > a {padding-right:13px;padding-left:14px;}
	.mega-dropdown-menu{width: 940px;}

	.bimage.list-inline > li > img {
    width: 120px;
    height: 100px;
}

	/*footer*/
	.payment-label{margin-left: 50px;}	
}

@media (max-width: 991px){
	/*menu*/
	.menu .nav > li > a {padding-right:6px;padding-left:6px;}
	.mega-dropdown-menu{width: 720px;}	
	
	

	.dollardeals{margin-bottom: 20px;}

	/*footer*/
	.payment-label{margin-left: 0;}

	/*product*/
	/*#rmjs-1{max-height: 4em;}*/
	.product-details {margin-top: 10px;}

	div.imagezoom-cursor{display: none;}
	div.imagezoom-view{display: none;}


}

@media (max-width: 767px){
	/*header*/
	.account {float: left;}
	.search .navbar-form {padding: 10px 15px;}
	.middle .icons{float: none;text-align: center;}
	.st-acc-li-ca .icons-a{display: none;}

	.st-acc-li-ca a {padding: 5px;border-radius: 4px;background-color: #E4E4E4;}
	.logo-srh-icn > div:last-child {padding-top: 0;}

	.middle h1 a{background-position: center center;}

	/*menu*/
	.menu .navbar-brand{width: 200px;}
	
	.featured-menu > li > ul > li {float: none;width: auto;}
	.menu .navbar-default .navbar-collapse{padding-left: 15px;padding-right: 15px;}

	.subfeature > a{display: none;}

	/*main */

	.details{text-align: center;}

	/*footer*/
	.info,.social{text-align: center;}
	.payment-label{display: none;}
	.card{float: none;}

	/*shopping cart*/
	.couponbtn button{width: 100%}
	.checkoutbtn button{float: none;margin-top: 10px;}

	/*checkout*/
	.return-cust{margin-top: 30px;}

	/*product*/
	.products-desc .nav-tabs > li:first-child{padding-left: 15px;}
	.view-all {float: left;}
	.filters select {margin: 5px 0px;display: block;width: 100%;}
  .grid-list {float: left;display: none;}

	/*search page*/
	.searchpage select.subcategory {width: 100%;}

	.account-sidebar{margin-top: 30px;}

	.item.list-group-item .allproducts .allproduct-details{margin-left: 0px;}
	.item.list-group-item img {float: none;}

	.item.list-group-item .allproducts .product-thumb {float: none;}

	.item.list-group-item .allproducts .allproduct-details .list-right {
    margin-left: 0%;}

   .item.list-group-item .allproducts .allproduct-details .list-left {width: 100%;float: none;}
   .specialbanner h2{text-align: left;}

   .menu .navbar-default .navbar-nav > li.dropdown > a:hover:after{display: none;}
}

@media (max-width: 420px){
.searchpage .checkbox-inline + .checkbox-inline{
    margin-top: 10px;
    margin-left: 00px;
	}
}

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .login-dd .login-dropdown{display: inline-block;visibility: hidden;transition: 0.2s 1s;}
    .login-dd:hover .login-dropdown{visibility: visible;transition-delay: 0s;}

    div.mega-dropdown-menu:hover + a{color: #d44434;background: rgba(221,221,221,0.5);}

    .mega-dropdown-menu{min-height: 501px;}

    /*.mega-dropdown-menu:hover:before{content: "";border-width:0px 0px 6px 6px;border-style: solid;border-color: transparent #000 #000;position: absolute;top: -7px; }*/

    .feature > div:nth-child(6){clear:left;}

    .social li a:hover img{opacity: 0.8;box-shadow: 1px 1px 5px 1px #787878;}

}

@media (min-width:768px) and (max-width:991px) {
    #clearallcat > div:nth-child(2n-1){clear:both;}
    #products > div:nth-child(2n-1){clear: both;}
    #special-search > div:nth-child(2n-1){clear: both;}

    a.remove{margin-top: 10px;}
	.compare-tables .buttons{display: block;width: 100%;}

    .menu .navbar-default .navbar-nav > li.dropdown > a:hover:after{display: none;}

        .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

@media (min-width : 992px) and (max-width:1199px) {
    /* Make Navigation Toggle on Desktop Hover */
    .searchfilter div:first-child,.searchfilter div:nth-child(3){text-align: right;}

    #clearallcat > div:nth-child(3n+1),#products > div:nth-child(2n+1){clear: both;}

    #special-search > div:nth-child(3n+1){clear: both;}
}

@media only screen and (min-width : 1200px) {
    /* Make Navigation Toggle on Desktop Hover */  

		.searchfilter div:first-child,.searchfilter div:nth-child(3){text-align: right;}
    #clearallcat > div:nth-child(3n+1),#products > div:nth-child(3n+1){clear: both;}

    #special-search > div:nth-child(3n+1){clear: both;}
}