 ------------------------common-------------------------- */

body{background:#fff;color: #4e4e4e;}
a{color: #4e4e4e;}
a:hover{text-decoration: none;color:#D44434;}
.mb30{margin-bottom: 30px;}
.mb20{margin-bottom: 20px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mtb20{margin-top: 20px;margin-bottom: 20px;}
.mtb10{margin-top: 10px;margin-bottom: 10px;}
.h20{font-size: 20px;text-indent: 1px;}

.mr5{margin-right: 5px;}

::-moz-selection {background: rgba(255, 0, 0, 0.6);color: white;}
::selection {background: rgba(255, 0, 0, 0.6);color: white;}
::-webkit-selection {background: rgba(255, 0, 0, 0.6);color: white;}
::-o-selection {background: rgba(255, 0, 0, 0.6) ;color: white;}


/*@font-face {
    font-family: 'mf_sippin_on_sunshineregular';
    src: url('../fonts/mf_sippin_on_sunshine-webfont.eot');
    src: url('../fonts/mf_sippin_on_sunshine-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mf_sippin_on_sunshine-webfont.woff2') format('woff2'),
         url('../fonts/mf_sippin_on_sunshine-webfont.woff') format('woff'),
         url('../fonts/mf_sippin_on_sunshine-webfont.ttf') format('truetype'),
         url('../fonts/mf_sippin_on_sunshine-webfont.svg#mf_sippin_on_sunshineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/


a:focus {outline: 0;outline-offset: 0;color: #4e4e4e;}
a:hover {color: #d44434;text-decoration: underline;}


.sitelink,.sitecolor{color: #d44434;}
.sitelink:hover{color: #4e4e4e;}
.strongcolor{font-weight: bold;color: #d44434;}

a.buttons,button,.btn{border-radius: 0px;background-color: #d44434;border: 1px solid #D44434;color: white;}

input.buttons:hover{color: #4e4e4e;}

select::-webkit-scrollbar{width:1px;background-color:transparent}

input.form-control:focus,.couponbtn .form-control:focus,textarea.form-control:focus{border-color: #DBDBDB;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(167, 167, 167, 0.3);}


.middle .input-group .form-control,.subscribe .input-group .form-control,.return-cust form .form-control,input.form-control,textarea.form-control{border-radius: 0px;}
.form-control{border: 1px solid #e4e4e4;}
label{font-weight: normal;}

select.form-control,.filters select{border-radius: 0px;border: 1px solid #ebecdc;
    background: url("../images/select-downarrow.png") no-repeat 97% 52%; -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;}
          select.form-control{background-position:98% 52%; }
select[multiple]{background: none;}
select.form-control:focus{box-shadow: none;border-color: #e4e4e4;}


.req{content: "*";color: #d44434;}

/*label.req:before*/
span.required{color: #d44434;}


.scrollpanel::-webkit-scrollbar{ width: 6px; } 
.scrollpanel::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } 
.scrollpanel::-webkit-scrollbar-thumb{ -webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } 
.scrollpanel::-webkit-scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }

.scrollpanel::scrollbar{ width: 6px; } 
.scrollpanel::scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px; border-radius: 10px; } 
.scrollpanel::scrollbar-thumb{ -webkit-border-radius: 10px; border-radius: 10px; background: rgba(255,0,0,0.8); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); } 
.scrollpanel::scrollbar-thumb:window-inactive { background: rgba(255,0,0,0.4); }

h1{font-family: 'Arvo', serif;}

/*--------------------------header-------------------------*/
header{border-bottom: 1px solid #D44434;}

.top{background:#cdcdcd;}
.top ul{color: white;margin-top: 10px;}
.top ul li{border-right:1px solid #4e4e4e;padding-right: 10px;color: #4e4e4e;}
.top ul li a{color:#4e4e4e;}
.top ul li:last-child{border-right: 0;}
.account{float: right;}
.account li span{font-size: 9px;padding:0 3px 0 5px;}
.account li:nth-child(4),.account li:nth-child(5){border-right: 0;padding-right: 0px;}


.logo-srh-icn > div:first-child,.logo-srh-icn > div:last-child{padding-top: 25px;}
.logo-srh-icn h5 a{text-transform: uppercase;color: #d44434;}

.middle{background: #F8F8F8;}
.middle h1 a{background: url(../images/logo.png) no-repeat;background-size:contain;
text-indent: -999999;display: block;height: 52px; }
.middle h1{margin-top: 0;margin-bottom: 0;}
.search .navbar-form .input-group{width: 100%;}


.search .navbar-form .input-group .input-group-btn {width: 0;}
.search .navbar-form {padding: 0;}
.middle form ::-webkit-input-placeholder{color: #2d2d2d;opacity: 0.6;}
.middle form :-moz-placeholder{color: #2d2d2d;opacity: 0.6;}
.middle form ::-moz-placeholder{color: #2d2d2d;opacity: 0.6;}
.middle form :-ms-input-placeholder{color: #2d2d2d;opacity: 0.6;}

.middle form button i{color: white;}
.middle form button:hover i{color: black;}
.middle .icons{float: right;position: relative;}

.st-acc-li-ca a{display: block;text-align: center;color:#4e4e4e;font-size: 12px;}
.st-acc-li-ca .icons-a img:last-child{text-align: left;}
.st-acc-li-ca span.glyphicon{color:#646464;font-size: 12px;}
.st-acc-li-ca .btn-block{margin-top: 0px;border-radius: 0;}

.find-store{right: 0;position:absolute;left: auto;width: 300px;background: #fff;z-index: 3;padding: 5px;text-align: center;top: 45px;}
.find-store h3{margin-top: 10px;}
.find-store form ::-webkit-input-placeholder{color: #e1e1e1;font-size: 12px;font-style: italic;}
.find-store form :-moz-placeholder{color: #e1e1e1;font-size: 12px;font-style: italic;}
.find-store form ::-moz-placeholder{color: #e1e1e1;font-size: 12px;font-style: italic;}
.find-store form :-ms-input-placeholder{color: #2d2d2d;font-size: 12px;font-style: italic;}
.account-dm .form-control:focus {border-color: #D44434;box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(212, 68, 52, 0.31);}

.account-dm{padding: 10px;}
.account-dm div{padding: 3px;}
.account-dm a{width: 50%;margin: 0 auto 10px;border-radius: 0;background: #D44434;border: 0;color: white;}





.menu .navbar-default{border: 0;margin-bottom: 0px;}
.menu .container{margin-left: -15px;margin-right: -15px;padding-left: 0;padding-right: 0;}
.menu .navbar-nav{position: relative;}
.menu .navbar-nav>li>a{color:#4e4e4e;}

.menu .navbar-default .navbar-nav>.active>a,
.menu .navbar-default .navbar-nav>.open>a:focus,
.menu .navbar-default .navbar-nav>li>a:hover{color:#f75b49;background: rgba(221,221,221,0.5);}

.menu .navbar-default .navbar-nav>.active>a{color: #4e4e4e;background: transparent;}

button.navbar-toggle span{color: #d44434;}


.menu .nav>li>a {padding-right: 23px;padding-left: 24px;}
.menu .navbar-default .navbar-toggle {border-color: #D44434;}

.menu .navbar-default .navbar-nav > .open > a,.menu .navbar-default .navbar-nav > .open > a:focus,.menu .navbar-default .navbar-nav > .open > a:hover {background: transparent;}

.mega-dropdown-menu{width: 1140px;padding: 0;}
/*
div.mega-dropdown-menu:before{content:'';position:absolute;top: -15px;display: block;left: 64px;
background: url(../images/uparrow.png) no-repeat;width: 24px;height: 24px;}*/

/*bubble arrow*/
/*.menu .navbar-default .navbar-nav > li.dropdown > a:hover:after{content:'';position:absolute;bottom: -10px;display: block;right:auto;background: url(../images/uparrow.png) no-repeat;width: 24px;height: 24px;z-index: 5000;}*/

/*.menu .navbar-default .navbar-nav > li > a:hover:after{content:'';position:absolute;bottom: -10px;display: block;right:auto;width: 0px;height: 0px;z-index: 5000;
border-bottom: 10px solid #00F;
border-left: 5px solid transparent;
border-right: 5px solid transparent;}*/

.menu .navbar-default .navbar-collapse{padding-left: 0;padding-right: 0;}

.menu .nav>li,.menu > .dropdown{position: static;}

.feature{border-right: 1px solid #e3dbd0;min-height: 339px;}
.subfeature{text-align: center;}
.subfeature > a{display: block;}
.subfeature > a > img{margin: 0 auto;}
/*.subfeature > p{height: 20px;}*/
.subfeature > p > a{color: #4e4e4e;}
.brands{background:#eeeeee;}


.dollardeals h4{font-weight: bold;color:#D44434;}
.dollardeals h5{color:#4e4e4e;}
.dollardeals button{background:#4e4e4e;border-color:#4e4e4e;padding: 7px 17px;text-transform: uppercase;margin-top: 10px;}
.dollardeals button:hover{background: #d44434;color: white;border-color:#d44434;}
.dollardeals button span{top: 2px;left: 3px;}
.dollardeals p + a:hover{background: none;}



/*slider*/
.ads{margin-bottom: 30px;}
.slider{margin-bottom: 20px;}
.carousel-indicators {bottom: 10px;}


/*.....................products carousel.......................... */
.main{margin-bottom: 30px;}

.adbox{position: relative;border: 1px solid #eae6db;background-color: white;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;margin-right: 0px;margin-bottom: 20px;}

.image{display: block;padding: 20px 0;}
.image img{margin: 0 auto;}

.details a{font-size: 18px;color: #4e4e4e;display: block;word-wrap: break-word;}
.details h4{color: #D44434;font-size: 20px;font-weight: bold;}

.details{padding-top: 30px;padding-bottom: 30px;}

.offerbtn{position: absolute;right: 0;bottom: 0;background: #6e6e6e;text-transform: uppercase;padding: 5px 7px;font-size: 12px;color: white;}



/*hot deals*/

.nav-tabs{border-bottom-color:#ebe8de;}
.nav-tabs>li.active >a {color: #d44434;border-radius: 0;font-size: 18px;}

.deals{padding: 60px 60px 20px;background: white;border:1px solid #ebe8de;border-top: 0;}
h4.heading{display: inline;padding: 10px;background: white;color: #d44434;border:1px solid #ebe8de;}

.hotdeals{text-align: center;}
.hotdeals .review img{display: inline-block;}
.hotdeals .review span{color: #d44434;}
.hotdeals > a > img{margin:0 auto;}
.shopnow{background: #6e6e6e;text-transform: uppercase;padding: 5px 7px;font-size: 12px;color: white;}
.shopnow:hover,.offerbtn:hover{color: white;background: #D44434;}
.hotdeals .price{margin: 5px 0;font-weight: bold;color: #D44434;}
.hotdeals .price del{margin-left: 5px;}
.review + p + div{margin-bottom: 10px;}




/*top trends*/

.toptrends p{width: 50%;margin: 0 auto;}



/*3box*/

/*.member-discount{background: url(../images/memberdiscount.jpg);}
.freeshipping{background: url(../images/freeshipping.jpg);}
.fastdelivery{background: url(../images/fastdelivery.jpg);}
*/



.member-discount,.freeshipping,.fastdelivery{text-align: center;padding: 20px;position: relative;}
.member-discount h4 a,.freeshipping h4 a,.fastdelivery h4 a{color: white;text-decoration: none;}
.member-discount p,.freeshipping p,.fastdelivery p{color: white;padding: 5px 10px 10px;}

.member-discount{background:#16a765;}
/*.member-discount:after,.freeshipping:after,.fastdelivery:after{content: "";
position: absolute;
width: 0px;
height: 0px;
right: -247px;
transition: right 0.4s cubic-bezier(0.24, 0.91, 0.36, 1) 0s;
border-bottom: 199px solid transparent;
border-right: 232px solid rgba(255, 255, 255, 0.29);
top: 0;}
    .member-discount:hover:after,.fastdelivery:hover:after,.freeshipping:hover:after{right: 0;}*/
.freeshipping{background: #e9b330 ;}
.fastdelivery{background:#a479e2;}

/*brands*/
.owl-pagination {display: none;}



/*footer*/

footer{background:#F0F0F0;}
.info{margin-top: 25px;margin-bottom: 25px;}
.info a{color: #4e4e4e;}
.subscribe form button{color: white;background: #5e5e5e;border-color:#5e5e5e;}
.subscribe .navbar-form {margin-right: -15px;margin-left: -15px;}
.payment-label{margin-left: 216px;}

.card li,.social li{padding-right: 0;padding-left: 0;margin-left: 0px;}
.social{margin-left: 0px;}
.card{float: right;margin-left: 0px;}
.card li img{height: 32px;}

.copyrights{}
.copyrights a{color: #22a7f0;}



/*categories*/

.breadcrumb{background: transparent;margin-bottom: 0;}
.breadcrumb > li > a{color: #d44434;}

.breadcrumb > li + li::before {
    padding: 0px 5px;
    color: #d44434;
    content: ">";
}

.head-hr{border-color:#e5e5e5;margin: 0;}
.view-all{float: right;height: 42px;padding: 10px 0;}
.view-all >a{color: #4e4e4e;}

/*.cat-descript{margin-bottom: 30px;}*/
.cat-descript a{color: #d44434;}


.sidebar .panel-body {padding: 10px;}
.sidebar .scrollpanel{height: 300px;overflow: auto;}
.sidebar .panel-body .list-group{margin-bottom: 0;}
.sidebar .panel-body .list-group-item,.main-product-cat .mpc-details .list-group .list-group-item{border-radius: 0;border:0;}
.sidebar .panel-default {border-radius: 0;}

.sidebar .list-group-item.active,.sidebar .list-group-item.active:focus,.sidebar .list-group-item.active:hover{
	background-color: #e4e4e4;border-color: #e4e4e4;color: #d44434;
}

.main-product-cat{border: 1px solid #ebe7dd;}
.main-product-cat > div{border: 1px solid #ebe7dd;}
.main-product-cat div:first-child > a img{margin: 0 auto;}
.main-product-cat .mpc-details .list-group .list-group-item,.mpc-details h4{background-color: transparent;padding: 5px 10px;}

.main-product-cat .mpc-details .list-group .list-group-item .fa{-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);font-size: 14px;
margin-right: 10px;}

.all-cat-btn {padding: 12px;}
.all-cat-btn a{font-size: 16px;}
.all-cat-btn a .glyphicon{top: 3px;}


.pagination{float: right;}

.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span {border-radius: 0;}
.pagination > li > a{color: #4e4e4e;}

.pagination > li > a:focus, .pagination > li > a:hover{color: #d44434;}



/* -moz-box-shadow: 1px 1px 2px 2px #eee; 
 -webkit-box-shadow: 1px 1px 2px 2px #eee; 
 box-shadow: 1px 1px 2px 2px #eee; 
 border: 1px solid #d44434;*/





/*product page*/

.banner img{width: 100%}

.simpleLens-thumbnails-container .thumbnail{width: 100px;border-radius: 0px;height: 100px;margin-bottom: 10px;}

.simpleLens-thumbnails-container .thumbnail:hover{border: 1px solid #d44434;}

.full-view .left{padding: 10px;}


.products-desc .nav-tabs > li.active > a,.products-desc .nav-tabs > li.active > a:focus,.products-desc .nav-tabs > li.active > a:hover{border: 0;border-bottom: 1px solid #d44434;outline: 0;cursor: pointer;background: transparent;font-size: 18px;color: #d44434;text-decoration: none;background: transparent;}

.products-desc .nav-tabs {border-bottom-color: #ebecdc;}
.products-desc .nav-tabs > li:first-child{padding-left: 0px;}
.products-desc .nav-tabs > li {margin-bottom: 8px;}
.products-desc .nav-tabs > li > a {padding: 10px 0;font-size: 18px;text-decoration: none;display: static;}
.products-desc .nav > li > a {display: inline;}
.products-desc .tab-content{margin-top: 10px;}
#description ul li{padding: 5px 0px;}

.products-desc .nav > li > a:focus,.products-desc .nav > li > a:hover {background: transparent;border: 0;}

/*.simpleLens-gallery-container>div,.product-details{background: #FFF;}*/

.product-details{padding-bottom: 20px;}
.product-bg{background: #F8F8F8;}
/*.product-image{background: #F8F8F8;}*/

.wm-zoom-box img{margin: 0 auto;}

.h-review-m p{padding: 10px 0;}
.wishlist-compare a{padding: 15px 0px;display: block; cursor:pointer;}
.wishlist-compare a img{margin-right: 5px;}

.mrp{margin-top: 20px;}
.mrp span,.save{color: #d44434;}
/*.pay div:last-child{height: 42px;}*/
/*.pay div:last-child{padding: 5px 13px;}*/
.pay div:last-child input{width: 30px;height: 24px;text-align: center;}

.product-details .btn-lg{width: 100%;font-size: 18px;background: #d44434;border: 0;border-radius: 0;margin-top: 10px;}
.product-details .cartbtn .btn-lg{background: #46913e;}

.related-products{border-top: 1px solid #ebecdc;}



.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding: 15px;}


/*shopping cart*/
.addtables .table,.addtables .table thead th{text-align: center;}
.addtables .table thead th{background:#f2f2f2;border-bottom: 0;}
.addtables .table-bordered {border-color: #ebe7dc;}
.addtables .table-bordered > tbody > tr > td{vertical-align: middle;border: 0;}
.addtables .table td.qty input{width: 30px;height: 30px;border: 1px solid #d44434;text-align: center;}
.addtables .table td.qty input + a{margin: 0 3px;}
.addtables .table tfoot tr{background:#f2f2f2;text-align: right;}

.couponbtn button{text-transform: uppercase;}
.couponbtn button:hover{background: #4e4e4e;}

.checkoutbtn button{float: right;}

/*wishlist*/
.wishtables .table-bordered > tbody > tr > td{border: 1px solid #ebecdc;}
.wishtables .table-bordered > tbody > tr > .text-right{font-weight: bold;}


/*checkout*/
.checkout-accordion .panel {border-radius: 0;border:0;}
.checkout-accordion .panel .panel-title a:hover{color: #4e4e4e;}
.checkout-accordion .panel .panel-body h5{font-weight: bold;}
.checkout-accordion .panel-default > .panel-heading {border:1px solid #ebecdc;border-bottom: 0;border-radius: 0;}

.reg-guest{margin-bottom: 10px;}
.return-cust label{font-weight: normal;}

.qty a{cursor: pointer;}

.billing-form .control-label{text-align: left;font-weight: normal;float: left;margin-left: 15px;}


/*product compare*/

.compare-tables .table{text-align: left;}
.compare-tables .table-bordered > tbody > tr > td{border: 1px solid #ebecdc;}
.compare-tables .table-bordered > tbody > tr > td:first-child{font-weight: bold;}
/*.compare-tables .buttons{padding: 4px 25px;}*/
a.remove{background: #4e4e4e;border-color: #4e4e4e;}


/*register form*/
.register-form .control-label{margin-left: 0px;}
/*label:before{content: "*";color: #d44434;}*/

.account-sidebar .list-group-item{border-radius: 0;}
.account-sidebar .list-group-item .glyphicon{margin-right: 5px;}

.account-sidebar .list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
	background-color: #d44434;
    border-color: #d44434;}


 /*order view page*/

 .orderv-tables .table,.orderv-tables .table thead th{text-align: left;}
 .orderv-tables .table > thead > tr > th,.orderv-tables .table > tbody > tr > td {padding: 10px;}
 .orderv-tables .table-bordered > tbody > tr > td{border: 1px solid #ebecdc;}


 /*address edit*/
 .address-edit .control-label {font-weight: normal;}


/*login*/
.well{border-radius: 0;border:1px solid #ebecdc;}

/*account*/
.myaccount .panel-danger > .panel-heading{color:#4e4e4e;background: #F5F5F5;border-bottom: 1px solid #ebecdc;}
.myaccount .panel-danger {border: 1px solid #ebecdc;}


/*all products*/

.allproducts > div {border: 0;background: white;}
.allproduct-details{padding:10px 30px 10px;}
.allproduct-details .review{margin-bottom: 10px;color: #d44434;}
.allproduct-details .review > a{color: rgba(212, 68, 52, 0.9);}
.allproduct-details .rating .fa-stack{color: #d44434;width: 1.2em;height: 1.2em;line-height: 1.2em;}
.allproduct-details .price{font-weight: bold;font-size: 18px;color: #d44434;}
.fa-stack{color: #d44434;width: 1.2em;height: 1.2em;line-height: 1.2em;}

.qty-btn{margin-bottom: 10px;}
.qty-btn input{border: 1px solid black;height: 30px;width: 33px;text-align: center;}
.qty-btn .btn{padding: 4px 4px;margin-bottom: 3px;}

.grid-list{float: right;padding: 11px 0px;}
.grid-list button .glyphicon{margin-right: 5px;}
.grid-list button{background: transparent;border: 0;color: #4e4e4e;}
.grid-list button:focus{color: #d44434;}
.current{color: #d44434 !important;}
.grid-list button:hover{color: #d44434;background: transparent;}
.grid-list button:active{color: #d44434;}

.filters{padding: 10px 0;}
.filters select{border: 1px solid #B9B9B9;margin: 2px 5px;width: 150px;padding: 5px;}

.sidebar .list-group-item input{margin-right: 5px;}
.sidebar .list-group-item{padding: 10px 5px;}
.sidebar .list-group-item label{display: block;margin-bottom: 0px;}
.sidebar .list-group-item:hover{background: rgba(221, 221, 221, 0.73) none repeat scroll 0% 0%;color: #d44434;}
.sidebar .panel-default > .panel-heading {background:transparent;}
.sidebar .panel-title{margin-top: 0px;margin-bottom: 0px;}

a[data-readmore-toggle]{color: #d44434;display: inline !important;}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

/*.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #d44434;
}*/



.item.list-group-item
{
    background: transparent;border: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}



/*search page*/
.searchpage select.subcategory{width: 180px;}
.searchpage hr.head-hr{margin: 3px 0;}

/*brands page*/
.brandpage{background: #fff;}
.brandpage .panel-title{font-size: 24px;}
.brandpage .panel-default > .panel-heading {    background: #e4e4e4;border-radius: 0;}

.brandscroll{min-height: 500px;}


.product-image .thumbnail{float: left;margin-right: 20px;}
.qty button{  
border-radius: 0px;
  background-color: transparent;
  border: 0px; } 
  
  
  .login-dropdown{right: 0px;
position: absolute;
left: auto;
width: 500px;
background: #FFF none repeat scroll 0% 0%;
z-index: 3;
padding: 5px;
top: 18px;}

.login-dropdown h4{font-weight: bold;}
.login-dropdown > div:first-child{border-right: 1px dashed #ccc; }
.login-dropdown > div a.buttons{color: white;}
.login-dropdown > div a.buttons:hover{color: #4e4e4e;}


#cart .dropdown-menu {
    width: 450px;    z-index: 1001;padding-top: 0;padding-bottom:0;top: 45px;
}

#cart button.dropdown-toggle {
        border-radius: 0px;
    background-color: transparent;
    border: 0;
    color: white;
}

#cart.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}

#cart .dropdown-menu table {
    margin-bottom: 10px;border-bottom: 1px solid #eee;
}

#cart .dropdown-menu .row{margin-bottom: 10px;}
#cart .dropdown-menu .row a{color: white;}
#cart .dropdown-menu .row a:hover{color: #4e4e4e;}

#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}

#cart .dropdown-menu li:first-child table > tbody > tr > td{vertical-align: middle;  padding: 10px;}
#cart .dropdown-menu li table > thead > tr > td{ padding: 10px;}

.information .panel{border: 1px solid #ebecdc;border-radius: 0;}
.information .form-horizontal .control-label{text-align: left;}
.information .img-thumbnail{border: 0;}


.qty-btn + p a,.qty-btn + p + p a,.addmore{cursor: pointer;}

.sidebar .allcatscroll{max-height: 200px;overflow: auto;}

div.imagezoom-cursor{}

.product-details .rating{margin-top: 10px;}
.products-desc{    padding-bottom: 10px;    border-bottom: 1px solid #eee;}

select.form-control:focus {border-top: 1px solid #e4e4e4;outline: none;}

.has-error .form-control {box-shadow:none;border: 1px solid rgba(0, 0, 0, 0.075);}



.panel-default {border-radius: 0 !important;}
.orderbyitem .table > tbody > tr > td{padding: 5px;vertical-align: middle;}

.orderbyitem .table-bordered > thead > tr > td,.orderbyitem .table-bordered > tbody > tr > td{border: 0;}
      #hideitem{display: none;}

.bimage{min-height: 160px;}

.alert-success a,.alert-danger a,.alert-info a,.alert-warning a{text-decoration: underline;}

.slider .carousel-inner > .item > img{width: 100%;}

.breadcrumb,h4{text-indent: 1px;}

.icons li:nth-child(2) .dropdown .find-store{width: 200px;}

.allproducts div:first-child > a img {margin: 10px auto 0;}

.list-left>p{height: 60px;overflow: hidden;}

.allproducts{background: white;}
.item.list-group-item .allproducts .product-thumb{float: left;}
.item.list-group-item .allproducts .product-thumb a{display: block;}
.item.list-group-item .allproducts .product-thumb a img{margin-left: auto;margin-right: auto;}
.item.list-group-item .allproducts{padding:20px;}
.item.list-group-item .allproducts .allproduct-details{margin-left: 170px;padding: 0;}
.item.list-group-item .allproducts .allproduct-details .list-left{width: 50%;float: left;}
.item.list-group-item .allproducts .allproduct-details .list-right{margin-left: 50%;}

.item.list-group-item .allproducts div:first-child > a img{margin:auto;}

.help{font-style: italic;font-size: 12px;display: none;}
input:focus span.help{display: block;}

.review .fa-stack{width: 1.2em;height: 1.2em;line-height: 1.2em;}

/*div.item:nth-child(4n-1) {clear: left;}*/

.specialbanner{background: rgba(234, 234, 234, 0.76);}
.specialbanner h2{margin-top: 10px;text-shadow: 1px 1px 2px rgba(41, 41, 41, 0.42);text-align: right;}
.specialbanner h4{margin-top: 10px;font-size: 14px;}
.specialbanner a.btn-default {border: 1.8px dashed rgb(212, 68, 52);color: rgb(212, 68, 52);margin-top: 10px;background: transparent;margin-bottom: 10px;}

.specialbanner .alert {
    padding: 0px;
    margin-bottom: 00px;
    border: 0px;
    border-radius: 0px;
}

.specialbanner .close {float:left;color: #4e4e4e;opacity: 1;margin-top: 15px;}

.bimage.list-inline{padding-left: 10px;margin-left: 0;}
.bimage.list-inline >li{padding-right: 12px;}
.bimage.list-inline >li > img{width: 150px;height: 100px;}

.searchfilter select.form-control{border: 1px solid #B9B9B9;}

.storelocator{max-height: 530px;  overflow: auto;}
.storelocator address{border-radius:3px;border: 1px solid #e4e4e4;padding: 5px;}


.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {border-color: #ddd;color: white;background: #d44434;}


#header.navbar-static-top{box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);}
#column-left {padding-top: 73px;}

.freedelivery{text-align:center;color: #222;text-shadow: 4px 4px 0px #DDD;/*animation: pulse 5s infinite;*/}

p.corporate {margin-top: 10px;font-style: italic;font-weight: bold;}
.corp-head{height: 40px;}

.owl-item .item > img{margin: 0 auto;}

.inksearch .nav-pills > li{position: relative;}
.inksearch .nav-pills > li.active > a{background: #d44434;}
/*.inksearch .nav-pills > li > a:focus{background-color: transparent;}*/
.inksearch .nav-pills > li > a{border-radius: 0px;margin-right: -2px;padding: 10px 15px;background: #ddd;}

.inksearch .nav-pills > li.active > a:after{transform: translateY(6px);-webkit-transform: translateY(6px);-o-transform: translateY(6px);-ms-transform: translateY(6px);visibility: visible;}

.inksearch .nav-pills > li > a:after{z-index:-5;content:"";visibility:hidden;bottom: 0px;border-width:8px 8px 0;border-style: solid;transition:transform 0.3s;-webkit-transition:transform 0.3s;-o-transition:transform 0.3s;position: absolute;border-color: #CC5345 transparent transparent;left: calc(50% - 8px);}

.inksearch .tab-content{margin-top: 10px;}
.inklink{text-align: right;padding:10px 0;display: inherit;color: #d44434;}

.servicehead{padding-top: 10px;box-shadow: 1px 1px 5px 1px rgba(48, 48, 48, 0.66);padding-bottom: 10px;
    background: rgb(212, 68, 52) none repeat scroll 0% 0%;color: white;text-transform: capitalize;text-shadow: 1px 1px 1px rgb(137, 29, 29);text-align: center;}
.servicelist li{margin-bottom: 10px;}

#payment-existing select.form-control,
#shipping-existing select.form-control,
#shipping-new select.form-control,
#payment-new select.form-control{background-position: 99% 52%;}


.tooltip {background-color: transparent;}

.alert{margin-bottom: 10px;padding: 10px;}

#reset-fld-log,
#reset-fld-slog{display: none;}
/*input[name="payment_address"]:checked #reset-fld-log{display: inline-block;}*/

.only-coupons .panel-default{box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.13),-3px 3px 6px -3px rgba(0, 0, 0, 0.13);}
.only-coupons .panel-default > .panel-heading{border-radius: 0;background: transparent;}
.only-coupons .panel-default > .panel-heading > a{color:#d44434;text-decoration: none;display: block;}
.only-coupons .panel-body p{border-bottom: 1px dashed rgb(221, 221, 221);padding-bottom: 10px;}
.only-coupons .panel-body p:last-child{border-bottom: 0;padding-bottom: 0;margin-bottom: 0;}


.navbar-toggle span~span {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
}

.navbar-toggle.active span:nth-of-type(3) { background-color: transparent;}

.navbar-toggle.active span:nth-of-type(2) {
  -webkit-transform:translateY(6px) rotate(45deg);
  -o-transform:translateY(6px) rotate(45deg);
  -ms-transform:translateY(6px) rotate(45deg);
  transform:translateY(6px) rotate(45deg);
}
.navbar-toggle.active span:nth-of-type(4) {
  -webkit-transform:translateY(-6px) rotate(-45deg);
  -o-transform:translateY(-6px) rotate(-45deg);
  -ms-transform:translateY(-6px) rotate(-45deg);
  transform:translateY(-6px) rotate(-45deg);
}


input[data-loading-text]:focus,input[data-loading-text]:active{color: #333;background-color: #E6E6E6;border-color: #ADADAD;opacity: 1;}
legend{font-size: 18px;}
.slider h2{text-align: center;font-family: Open Sans;}

.highlight {    color: #d44434; font-weight: 900;}