
     <div class="container">
           <!-- ads carousel -->
          <div class="row">

          <div class="col-xs-12">
          <div class="ads">

       
  <?php foreach ($products as $product) { ?>

            <div class="col-md-4">
             <div class="row adbox">

                <div class="col-lg-6 col-md-6 col-xs-12">
                     <a class="image" href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" class="img-responsive"></a>
                 </div>

                 <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="details">
                     <a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
                
           <?php if ($product['price']) { ?>    

          <?php if (!$product['special'])  { ?>
            <?php } else { ?>
            <?php $x= substr($product['special'],3); $y = substr($product['price'],3); $z= ( ($y - $x)/$y  ) * $y ?> 
          <h4>Upto&nbsp;<?php echo round($z,0,PHP_ROUND_HALF_DOWN);?>%&nbsp;Off</h4>
          <?php } ?> 
          <?php } ?>  
                     
                 </div>
                 </div>

                 <a class="offerbtn" href="<?php echo $product['href']; ?>">Shop Now <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>

             </div> 
             </div>



  <?php } ?>
  </div> 
  </div> 
    </div>               
      </div> 
                      
