<footer id="footer"><?php echo $text_footer; ?></footer>

</div>

<script type="text/javascript">

	$("a#addmore").click(function(){
      $("li.list-group-item").append("<li class="list-group-item"><i class="fa fa-angle-double-right"></i></li>");
    });

</script>

</body>
</html>
