<?php echo $header; ?>


<script type="text/javascript" src="catalog/view/javascript/imagezoom.js"></script>
<div class="container mtb20">
	<!-- breadcrumb -->
	<div class="row">
		<ol class="breadcrumb">
			<?php foreach ($breadcrumbs as $breadcrumb) { ?>
			<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
			<?php } ?>
		</ol>
	</div>
</div>
<?php echo $column_left; ?> <?php echo $content_top; ?>
<div class="container mb30">
	<div class="row">
		
		<div class="col-lg-6 col-md-6 col-xs-12">
		<div class="col-xs-12 product-image">
			<div class="full-view">
				<?php if ($thumb || $images) { ?>
				<div class="left">

					<?php if ($thumb) { ?>
					<div class="wm-zoom-container my-zoom">
						<div class="wm-zoom-box">
							
							<img id='zoom-img' src="<?php echo $thumb; ?>" data-imagezoom="true" data-magnification="2" class="img-responsive"  width="350"/>
						
						</div>
					</div>
					<?php } ?>
				</div>
				<?php } ?>


			<?php if ($images) { ?>
			<?php 	$z =1; 	foreach ($images as $image) { ?>
			<div class="thumbnail">
				<a><img class="zoom-tiny-image leftImg" src="<?php echo $image['thumb']; ?>" alt = "Thumbnail <?=$z?>" value='<?php echo $image['popup']; ?>'/></a>
			</div>
			<?php $z++; } ?>
				<?php } ?>


			</div>
					
		</div>
	</div>


	<div class="col-lg-6 col-md-6 col-xs-12 product-details">
	<div class="col-xs-12 product-bg">

	<div class="row h-review-m">
		<div class="col-xs-12">
			<h4 class="h20"><?php echo $heading_title; ?></h4>
		</div>
		<?php if ($manufacturer) { ?>
		<div class="col-sm-4 col-xs-12">
			<p><?php echo $text_manufacturer; ?> <a href="<?php echo $manufacturers; ?>"><span><?php echo $manufacturer; ?></span></a></p>
		</div>
		<?php } ?>


		<div class="col-sm-8 col-xs-12">
			<!-- <p>Item #  <span><?php echo $product_id; ?></span></p> -->
     <p>Item #  <span><?php echo $model; ?></span></p>
		</div>
		<?php if ($reward) { ?>
		<div class="col-xs-12"><span><?php echo $text_reward; ?> <?php echo $reward; ?></span></div>
		<?php } ?>
	</div>
	<hr class="head-hr">
	<div class="row wishlist-compare">
		<div class="col-sm-6 col-xs-12">
			<a title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product_id; ?>');"><img src="images/wishlist-icon.png" >Add to Wish List</a>
		</div>
		<div class="col-sm-6 col-xs-12">
			<a title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product_id; ?>');"><img src="images/add-compare-icon.png">Add to Compare</a>
		</div>
	</div>
	<hr class="head-hr">
	<?php if ($price) { ?>
	<?php if ($special) { ?>
	<div class="row mrp">
		<div class="col-md-2 col-sm-2 col-xs-3">
			<p>MRP</p>
		</div>
		<div class="col-md-6 col-sm-10 col-xs-9">
			<p> <del><?php echo $price; ?></del><span><?php $x= substr($special,3);
				$y = substr($price,3); $z= ( ($y - $x)/$y  ) * 100;?>
				[<?php echo round($z,0,PHP_ROUND_HALF_DOWN);?> % OFF]</span>
			</p>
		</div>
	</div>
	<div class="row save">
		<div class="col-md-2 col-sm-2 col-xs-3">
			<p>SAVE</p>
		</div>
		<div class="col-md-6 col-sm-10 col-xs-9">
			<p>AED <span><?php echo $SAVE = substr($price,3) - substr($special,3);  ?></span></p>
		</div>
	</div>
	<div class="row pay">
		<div class="col-md-2 col-sm-2 col-xs-3">
			<h4 class="h20 highlight">PAY</h4>
		</div>
		<div class="col-md-4 col-sm-10 col-xs-9">
			<h4 class="h20 highlight"><span><?php echo $special; ?></span></h4>
		</div>
	</div>
	<?php }  else {?>
	<div class="row pay">
		<div class="col-md-2 col-sm-2 col-xs-3">
			<h4 class="h20 highlight" style="color:#d44434;">PAY</h4>
		</div>
		<div class="col-md-4 col-sm-10 col-xs-9">
			<h4 class="h20 highlight"><span><?php echo $price; ?></span></h4>
		</div>
	</div>
	<?php } ?>
	<?php if ($discounts) { ?>
	<div>
		<hr class="head-hr">
	</div>
	<?php foreach ($discounts as $discount) { ?>
	<div><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></div>
	<?php } ?>
	<?php } ?>
	<?php } ?>
	<div class="row">
		<div class="col-xs-12">
			<p>
<img src="<?php if($stock > 0) { echo 'images/tick.png'; } else { echo 'images/delete.png'; } ?>">&nbsp;
<?php if( $stock > 0) { echo 'In Stock&nbsp;('.$stock.')'; } else { echo 'Out of stock'; }  ?></p>
		</div>
		<div class="col-xs-12">
			<p><img src="images/tick.png"> Free delivery : Estimated delivery 7-10 business days Pricing, Assortment and Availability </p>
		</div>
	</div>
	<!--  <div class="col-md-6 col-xs-12">
		<label for="input-quantity">Quantity</label>
		 <input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity"/>
		<input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
		
		</div> -->
	<div id="product" class="row">
		<?php if ($options) { ?>
		<hr class="head-hr">
		<div class="col-xs-12"><h4><?php echo $text_option; ?></h4>
		<?php foreach ($options as $option) { ?>
		<?php if ($option['type'] == 'select') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
				<option value=""><?php echo $text_select; ?></option>
				<?php foreach ($option['product_option_value'] as $option_value) { ?>
				<option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
					<?php if ($option_value['price']) { ?>
					(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
					<?php } ?>
				</option>
				<?php } ?>
			</select>
		</div></div>
		<?php } ?>
		<?php if ($option['type'] == 'radio') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label"><?php echo $option['name']; ?></label>
			<div id="input-option<?php echo $option['product_option_id']; ?>">
				<?php foreach ($option['product_option_value'] as $option_value) { ?>
				<div class="radio">
					<label>
					<input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
					<?php echo $option_value['name']; ?>
					<?php if ($option_value['price']) { ?>
					(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
					<?php } ?>
					</label>
				</div>
				<?php } ?>
			</div>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'checkbox') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label"><?php echo $option['name']; ?></label>
			<div id="input-option<?php echo $option['product_option_id']; ?>">
				<?php foreach ($option['product_option_value'] as $option_value) { ?>
				<div class="checkbox">
					<label>
					<input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
					<?php echo $option_value['name']; ?>
					<?php if ($option_value['price']) { ?>
					(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
					<?php } ?>
					</label>
				</div>
				<?php } ?>
			</div>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'image') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label"><?php echo $option['name']; ?></label>
			<div id="input-option<?php echo $option['product_option_id']; ?>">
				<?php foreach ($option['product_option_value'] as $option_value) { ?>
				<div class="radio">
					<label>
					<input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
					<img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
					<?php if ($option_value['price']) { ?>
					(<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
					<?php } ?>
					</label>
				</div>
				<?php } ?>
			</div>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'text') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'textarea') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" 
				placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'file') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label"><?php echo $option['name']; ?></label>
			<button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
			<input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'date') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<div class="input-group date">
				<input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
				<span class="input-group-btn">
				<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'datetime') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<div class="input-group datetime">
				<input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
				<span class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<?php } ?>
		<?php if ($option['type'] == 'time') { ?>
		<div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
			<label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
			<div class="input-group time">
				<input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
				<span class="input-group-btn">
				<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
				</span>
			</div>
		</div>
		<?php } ?>
		<?php } ?>
		<?php } ?>
		<?php if ($recurrings) { ?>
		<hr class="head-hr">
		<h4><?php echo $text_payment_recurring ?></h4>
		<div class="form-group required">
			<select name="recurring_id" class="form-control">
				<option value=""><?php echo $text_select; ?></option>
				<?php foreach ($recurrings as $recurring) { ?>
				<option value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>
				<?php } ?>
			</select>
			<div class="help-block" id="recurring-description"></div>
		</div>
		<?php } ?>
		<div class="col-md-12 col-xs-12">
		<div class="form-group">
			<!-- <label class="control-label" for="input-quantity"><?php echo $entry_qty; ?></label> -->
			
				<label for="input-quantity">Quantity</label>
				<input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control" />
				<input type="hidden" name="product_id" value="<?php echo $product_id; ?>" /> 
			</div>			
			
		</div>
		<?php if ($minimum > 1) { ?>
		<div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
		<?php } ?>
	</div>
	<div class="row">
				<div class="col-md-6 col-xs-12 cartbtn"> 
					<button type="button" id="button-cart" value="<?php echo $button_cart; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-danger btn-lg"><?php echo $button_cart; ?></button>
				</div>
				<div class="col-md-6 col-xs-12 buynow">            
					<button id="button-carts" data-buy="buy-module" value="Buy Now"  type="button" class="btn btn-danger btn-lg">BUY NOW</button>             
				</div>
			</div>
	<?php if ($review_status) { ?>
	<div class="rating">
		<p>
			<?php for ($i = 1; $i <= 5; $i++) { ?>
			<?php if ($rating < $i) { ?>
			<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
			<?php } else { ?>
			<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
			<?php } ?>
			<?php } ?>
			<a href="" onclick="$('a[href=\'#reviews\']').trigger('click'); return false;"><?php echo $reviews; ?></a> / <a href="" onclick="$('a[href=\'#reviews\']').trigger('click'); return false;"><?php echo $text_write; ?></a>
		</p>
	</div>
	<?php } ?>
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> 
		<a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a>
		<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
	<!-- AddThis Button END -->
	<!-- </div><?php // } ?> -->
</div>
	</div>
	</div>
	<!--    <div class="simpleLens-gallery-container" id="demo">
		<div class="col-md-12 col-xs-12 simpleLens-big-image-container">
		<?php if ($thumb || $images) { ?>
		<?php if ($images) { ?>
		<a class="simpleLens-lens-image" data-lens-image="<?php echo $thumb; ?>">
		 <img src="<?php echo $thumb; ?>" class="simpleLens-big-image">
		</a>
		<?php } ?>
		</div>
		
		
		
		<div class="simpleLens-thumbnails-container col-xs-12 col-md-12">
		<?php if ($images) { ?>
		<?php foreach ($images as $img) { ?>
		<a href="#" class="simpleLens-thumbnail-wrapper thumbnail"
		    data-lens-image="images/large/samsung1.jpg"
		    data-big-image="images/medium/samsung1.jpg">
		     <img src="<?php echo $img['thumb']; ?>">
		 </a>
		<?php 
			}
			  }
			  } ?>
		</div>
		
		
		</div> 
		-->
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="products-desc">
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active col-md-2" style="padding-left: 0px;">
						<a href="#description" aria-controls="description" role="tab" data-toggle="tab"><?php echo $tab_description; ?></a>
					</li>
					<?php if ($attribute_groups) { ?>
					<li role="presentation" class="col-md-2">
						<a href="#specification" aria-controls="specification" role="tab" data-toggle="tab"><?php echo $tab_attribute; ?></a>
					</li>
					<?php } ?>
					<?php if ($review_status) { ?>
					<li role="presentation" class="col-md-2">
						<a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab"><?php echo $tab_review; ?></a>
					</li>
					<?php } ?>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="description">
						<?php echo $description; ?>
					</div>
					<?php if ($attribute_groups) { ?>
					<div role="tabpanel" class="tab-pane fade" id="specification">
						<div class="table-responsive">
							<table class="table table-bordered">
								<?php foreach ($attribute_groups as $attribute_group) { ?>         
								<thead>
									<tr>
										<td colspan="2"><?php echo $attribute_group['name']; ?></td>
									</tr>
								</thead>
								<tbody>
									<?php foreach ($attribute_group['attribute'] as $attribute) { ?>
									<tr>
										<td><?php echo $attribute['name']; ?></td>
										<td><?php echo $attribute['text']; ?></td>
									</tr>
									<?php } ?>
								</tbody>
								<?php } ?>
							</table>
						</div>
					</div>
					<?php } ?>
					<div role="tabpanel" class="tab-pane fade" id="reviews">
						<?php if ($review_status) { ?>
						<form class="form-horizontal" id="form-review">
							<div id="review"></div>
							<h4><?php echo $text_write; ?></h4>
							<?php if ($review_guest) { ?>
							<div class="form-group required">
								<div class="col-sm-12">
									<label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
									<input type="text" name="name" value="" id="input-name" class="form-control" />
								</div>
							</div>
							<div class="form-group required">
								<div class="col-sm-12">
									<label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
									<textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
									<div class="help-block"><?php echo $text_note; ?></div>
								</div>
							</div>
							<div class="form-group required">
								<div class="col-sm-12">
									<label class="control-label"><?php echo $entry_rating; ?></label>
									&nbsp;&nbsp;&nbsp; <?php echo $entry_bad; ?>&nbsp;
									<input type="radio" name="rating" value="1" />
									&nbsp;
									<input type="radio" name="rating" value="2" />
									&nbsp;
									<input type="radio" name="rating" value="3" />
									&nbsp;
									<input type="radio" name="rating" value="4" />
									&nbsp;
									<input type="radio" name="rating" value="5" />
									&nbsp;<?php echo $entry_good; ?>
								</div>
							</div>
							<?php if ($site_key) { ?>
							<div class="form-group">
								<div class="col-sm-12">
									<div class="g-recaptcha" data-sitekey="<?php echo $site_key; ?>"></div>
								</div>
							</div>
							<?php } ?>
							<div class="buttons clearfix">
								<div class="pull-right">
									<button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><?php echo $button_continue; ?></button>
								</div>
							</div>
							<?php } else { ?>
							<?php echo $text_login; ?>
							<?php } ?>
						</form>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Related Products -->
<?php if ($products) { ?>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="mtb20"><?php echo $text_related; ?></h4>
		</div>
		<div class="col-xs-12">
			<div class="deals related-products">
				<div class="trends">
					<?php foreach ($products as $product) { ?>
					<div>
						<div class="hotdeals toptrends">
							<a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" ></a>
							<div class="review">
								<?php if ($product['rating']) { ?>
								<?php for ($i = 1; $i <= 5; $i++) { ?>
								<?php if ($product['rating'] < $i) { ?>
								<img src="images/1star.png" class="img-responsive">
								<?php } else { ?>
								<img src="images/0star.png" class="img-responsive">
								<?php } ?>
								<?php } ?>
								<?php } ?>
								<span><?php echo $reviews; ?></span>
							</div>
							<p><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></p>
							<?php if ($product['price']) { ?>
							<div class="price">
								<?php if (!$product['special']) { ?>
								<span><?php echo $product['price']; ?></span>
								<?php } else { ?>
								<span><?php echo $product['special']; ?></span>
								<del><?php echo $product['price']; ?></del>
								<?php } ?>
							</div>
							<?php } ?>
						</div>
					</div>
					<div>
						<div class="hotdeals toptrends">
							<a href="#"><img src="images/hotdeals1.png" class="img-responsive"></a>
							<div class="review">
								<img src="images/reviews.png" class="img-responsive">
								<span>654</span> <span>Reviews</span>
							</div>
							<p>Lysol® Neutra Air® Air Sanitizer Kit and Refill</p>
							<div class="price">
								<span>AED 499.99 </span>
								<del>AED 599.99</del>
							</div>
						</div>
					</div>
					<div>
						<div class="hotdeals toptrends">
							<a href="#"><img src="images/hotdeals1.png" class="img-responsive"></a>
							<div class="review">
								<img src="images/reviews.png" class="img-responsive">
								<span>654</span> <span>Reviews</span>
							</div>
							<p>Lysol® Neutra Air® Air Sanitizer Kit and Refill</p>
							<div class="price">
								<span>AED 499.99 </span>
								<del>AED 599.99</del>
							</div>
						</div>
					</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>
<?php echo $footer; ?>
<script type="text/javascript">

$(document).ready(function () {
  
  $("#input-quantity").keypress(function (e) {
  
     if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
               return false;
    }
   });
});
</script>


<script type="text/javascript">
	$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	  $.ajax({
	    url: 'index.php?route=product/product/getRecurringDescription',
	    type: 'post',
	    data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
	    dataType: 'json',
	    beforeSend: function() {
	      $('#recurring-description').html('');
	    },
	    success: function(json) {
	      $('.alert, .text-danger').remove();
	
	      if (json['success']) {
	        $('#recurring-description').html(json['success']);
	      }
	    }
	  });
	});
</script>








<script type="text/javascript">
	$('#button-cart,#button-carts').on('click', function() {
var btnname = $(this).attr('data-buy');
//alert(btnname);
	  $.ajax({
	    url: 'index.php?route=checkout/cart/add',
	    type: 'post',
	    data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
	    dataType: 'json',
	    beforeSend: function() {
	    	if(btnname != 'buy-module'){

	      $('#button-cart').button('loading');
	  }
	       
	    }
	    ,
	    complete: function() {
	    	
	      $('#button-cart').button('reset');
	      
	    },
	    success: function(json) {

	      $('.alert, .text-danger').remove();
	      $('.form-group').removeClass('has-error');
	
	      if (json['error']) {
	        if (json['error']['option']) {
	          for (i in json['error']['option']) {
	            var element = $('#input-option' + i.replace('_', '-'));
	
	            if (element.parent().hasClass('input-group')) {
	              element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
	            } else {
	              element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
	            }
	          }
	        }
	
	        if (json['error']['recurring']) {
	          $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
	        }
	
	        // Highlight any found errors
	        $('.text-danger').parent().addClass('has-error');
	      }
		


			if(btnname == 'buy-module'){
				window.location.href = "index.php?route=checkout/checkout";
				} 
					
			if (btnname != 'buy-module') {
	      if (json['success']) {
	        $('.breadcrumb').after('<div class="alert alert-success">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
	
	        $('#cart > button').html('<i class="fa fa-shopping-cart"></i> ' + json['total']);
	
	        $('html, body').animate({ scrollTop: 0 }, 'slow');
	
	        $('#cart > ul').load('index.php?route=common/cart/info ul li');
	      }

}
	    }
	  });
	});


</script>


<script type="text/javascript">
	/*$('.date').datetimepicker({
	  pickTime: false
	});
	
	$('.datetime').datetimepicker({
	  pickDate: true,
	  pickTime: true
	});
	
	$('.time').datetimepicker({
	  pickDate: false
	});*/
	
	$('button[id^=\'button-upload\']').on('click', function() {
	  var node = this;
	
	  $('#form-upload').remove();
	
	  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file"></form>');
	
	  $('#form-upload input[name=\'file\']').trigger('click');
	
	  if (typeof timer != 'undefined') {
	      clearInterval(timer);
	  }
	
	  timer = setInterval(function() {
	    if ($('#form-upload input[name=\'file\']').val() != '') {
	      clearInterval(timer);
	
	      $.ajax({
	        url: 'index.php?route=tool/upload',
	        type: 'post',
	        dataType: 'json',
	        data: new FormData($('#form-upload')[0]),
	        cache: false,
	        contentType: false,
	        processData: false,
	        beforeSend: function() {
	          $(node).button('loading');
	        },
	        complete: function() {
	          $(node).button('reset');
	        },
	        success: function(json) {
	          $('.text-danger').remove();
	
	          if (json['error']) {
	            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
	          }
	
	          if (json['success']) {
	            alert(json['success']);
	
	            $(node).parent().find('input').attr('value', json['code']);
	          }
	        },
	        error: function(xhr, ajaxOptions, thrownError) {
	          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	        }
	      });
	    }
	  }, 500);
	});
</script>
<script type="text/javascript">
	$('#review').delegate('.pagination a', 'click', function(e) {
	  e.preventDefault();
	
	    $('#review').fadeOut('slow');
	
	    $('#review').load(this.href);
	
	    $('#review').fadeIn('slow');
	});
	
	$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');
	
	$('#button-review').on('click', function() {
	  $.ajax({
	    url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
	    type: 'post',
	    dataType: 'json',
	    data: $("#form-review").serialize(),
	    beforeSend: function() {
	      $('#button-review').button('loading');
	    },
	    complete: function() {
	      $('#button-review').button('reset');
	    },
	    success: function(json) {
	      $('.alert-success, .alert-danger').remove();
	
	      if (json['error']) {
	        $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
	      }
	
	      if (json['success']) {
	        $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');
	
	        $('input[name=\'name\']').val('');
	        $('textarea[name=\'text\']').val('');
	        $('input[name=\'rating\']:checked').prop('checked', false);
	      }
	    }
	  });
	});
	
	
</script>

<script>
$("#input-name").keypress(function (e) {
    if (e.which != 10 && e.which != 32 && e.which != 8 && e.which != 0 && (e.which < 97 || e.which > 122 ) ) {
      return false;
    }
});

$("#input-review").keypress(function(e) {
if (e.which != 10 && e.which != 32 && e.which < 48 || (e.which > 57 && e.which < 65) || (e.which > 90 && e.which < 97) || e.which > 122) {
return false;
}
});

$("#input-name").on('paste', function (event) {
  if (!event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
    event.preventDefault();
  }
});

$("#input-review").on('paste', function (event) {
  if (!event.originalEvent.clipboardData.getData('Text').match(/[^\W]/)) {
    event.preventDefault();
  }
});


$(document).ready(function(){
   var str = location.href;
    var result = str.match(/\#reviews\b/gi);
if(result == '#reviews') {


  $('html, body').animate({
        scrollTop: $('#description').offset().top
    }, 'slow');
$('a[href=\'#reviews\']').trigger('click');
console.log(result);
}

});

</script>


